@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações que você fornece ao utilizar nosso site para baixar vídeos do YouTube. Ao utilizar nosso site, você concorda com os termos descritos nesta política.</p>

<h2>Coleta de Informações:</h2>

<p>1. URL do Vídeo: Para possibilitar o download de vídeos do YouTube, coletamos a URL do vídeo que você deseja baixar. Esta informação é utilizada exclusivamente para processar sua solicitação de download.</p>

<p>2. Cookies do Navegador: Podemos usar cookies para melhorar a sua experiência no nosso site. Os cookies são pequenos arquivos de texto que são armazenados no seu dispositivo quando você visita nosso site. Eles podem incluir informações como suas preferências de idioma, informações de sessão e outras configurações do site. Esses cookies não coletam informações pessoais identificáveis.</p>

<h2>Uso das Informações:</h2>

<p>1. Processamento de Download: Utilizamos a URL do vídeo que você fornece para processar sua solicitação de download. Não armazenamos essas URLs após o processamento.</p>

<p>2. Melhoria do Site: As informações dos cookies do navegador nos ajudam a entender como os usuários interagem com nosso site, permitindo-nos aprimorar sua funcionalidade e usabilidade.</p>

<h2>Compartilhamento de Informações:</h2>

<p>Não compartilhamos suas informações com terceiros. As informações coletadas são utilizadas apenas internamente para processar suas solicitações e melhorar nosso site.

<h2>Segurança:</h2>

<p>Mantemos medidas de segurança adequadas para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</p>

<h2>Seus Direitos:</h2>

<p>Você pode recusar o uso de cookies ajustando as configurações do seu navegador. Isso pode afetar a funcionalidade do nosso site. Você também tem o direito de solicitar a exclusão das informações que coletamos.</p>

<h2>Alterações na Política:</h2>

<p>Podemos atualizar esta política ocasionalmente. As alterações serão publicadas nesta página e entrarão em vigor assim que forem publicadas.</p>

<h2>Contato:</h2>

<p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco através do seguinte endereço de e-mail: gutierrezmatheus210@gmail.com.</p>

<h2>Data de Entrada em Vigor:</h2>

<p>Esta Política de Privacidade entra em vigor a partir de 14/08/2023.</p>

<p>Note que esta é apenas uma sugestão de política de privacidade genérica. Certifique-se de consultar um profissional legal para garantir que a política de privacidade atenda aos requisitos legais específicos do seu país e jurisdição.</p>
